body{
font-family:Arial;
margin:0;
}

nav{
background:#0f2b3d;
padding:10px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.section{
padding:40px;
}

h1,h2{
color:#0f2b3d;
}